<div x-ng-app="MainApp" x-ng-controller="MainCtrl"> 

<div class="row">
	<div class="filters">
		SORT BY: 
			<select class="select-filter">
			  <option value="volvo">Volvo</option>
			  <option value="saab">Saab</option>
			  <option value="mercedes">Mercedes</option>
			  <option value="audi">Audi</option>
			</select>
			<select class="select-filter">
			  <option value="volvo">Volvo</option>
			  <option value="saab">Saab</option>
			  <option value="mercedes">Mercedes</option>
			  <option value="audi">Audi</option>
			</select>
			<select class="select-filter">
			  <option value="volvo">Volvo</option>
			  <option value="saab">Saab</option>
			  <option value="mercedes">Mercedes</option>
			  <option value="audi">Audi</option>
			</select>
			<input x-ng-model="searchTerm">
	</div>
</div>

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

			<li x-ng-repeat="adminPost in adminPosts | myFilter:filteredwords | filter: searchTerm "> 		
				<div class="post shadow">
					<a href="#" data-reveal-id="myModal" class="add-button" x-ng-click="selectPost(adminPost)">ADD</a>
					<a href="{{adminPost.url}}" target="_blank">
						<img src="http://cdn.frontpagemag.com/wp-content/uploads/2012/04/veteran.gif" alt="">
					</a>
					<div class="description">		
						 <a href="{{adminPost.url}}" target="_blank"><h5>{{ adminPost.title }}</h5></a> <br>
						<div class="description-footer">
							{{ adminPost.author }} <br>
							{{ adminPost.publish_date }} <br>
							{{ adminPost.publication }}
						</div>
					</div>		
				</div>
		 </li>
	
	</ul>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

</div>