<div x-ng-app="MainApp" x-ng-controller="MainCtrl"> 

<div class="row">
	<div class="filters">
		Search by: 
			<input x-ng-model="searchTerm">&nbsp;<i class="fa fa-search fa-lg"></i>
	</div>
</div>

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

			<li x-ng-repeat="userPost in userPosts | orderBy : userPost.created_at : reverse"> 		

<!-- 			filteredwords[0].negativesearch -->

				<div class="post shadow" ng-class="{glow: userPost.favorite}">
				<a href="#" data-reveal-id="myModal" class="add-button" x-ng-click="selectPost(userPost)">EDIT</a>
				<a href="#"  class="remove-button" x-ng-click="userviewdeletePost(userPost)">DELETE</a>
					<a href="{{userPost.url}}" target="_blank">
						<img src="{{randomPictures[Math.floor(Math.random()*randomPictures.length)]}}" alt="">
					</a>
					<div class="description">		
						 <a href="{{userPost.url}}" target="_blank"><h5>{{ userPost.title }}</h5></a> <br>
						<div class="description-footer">
							{{ userPost.author }} <br>
							{{ userPost.publish_date }} <br>
							{{ userPost.publication }}
						</div>
					</div>		
				</div>
		 </li>
	
	</ul>
</div>


<div id="myModal" class="reveal-modal tiny" data-reveal>
	
		<div class="row">
			
				<img src="{{randomPictures[Math.floor(Math.random()*randomPictures.length)]}}" alt="">
				<div class="description">	
					<form ng-submit = "updatePost(selectedPost)">	
					<div class="description-footer">
						<input x-ng-model="selectedPost.title"> <br>
						<input x-ng-model="selectedPost.publish_date"> <br>
						<input x-ng-model="selectedPost.publication"> <br>
						<input type="submit" value="update" class="button">
					</div>
					</form>
					<div class="button approve" x-ng-click="approvePost()">POST</div>
					<div class="button save" x-ng-click="savePost()">SAVE</div>
					<div class="button feature" x-ng-click="featurePost()">FEATURE</div>
					<!-- buttons for approve for post, save for later, feature -->
				</div>
			
		</div>
		

  <a class="close-reveal-modal">&#215;</a>
</div>

</div>