<div x-ng-app="MainApp" x-ng-controller="MainCtrl"> 

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

			<li x-ng-repeat="userPost in userPosts "> 		

<!-- 			filteredwords[0].negativesearch -->
				
				<div class="post shadow" ng-class="{glow: userPost.favorite}">
					<a href="{{userPost.url}}" target="_blank">
						<img src="{{randomPictures[Math.floor(Math.random()*randomPictures.length)]}}" alt="">
						
					</a>
					<div class="description">		
						 <a href="{{userPost.url}}" target="_blank"><h5>{{ userPost.title }}</h5></a> <br>
						<div class="description-footer">
							{{ userPost.author }} <br>
							{{ userPost.publish_date }} <br>
							{{ userPost.publication }}
						</div>
					</div>		
				</div>
		 </li>
	
	</ul>
</div>

</div>