/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require foundation_and_overrides
 *= require foundation
 *= require_self
 */

ul.large-block-grid-3 {
	margin: 0 auto;
	width: 1220px;
	height: 1000px;
	background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/747135/QcVqTVdjN6Pg8bi/imageabout.jpg');
	position: inline-block;
	top: auto;
	float: center;
	background-size: cover;
}

.fullwidth{
 	width: 100%;
 	padding: 20px;
 	background-color: #dbdad5;
 }

.closex:hover{
	color: #9F000F;
}

body, .main {
	background-color: #dbdad5;
	font-family: 'Open Sans', sans-serif;
}
.main {
	padding-top: 40px;
}
.post {
	background-color: white;
	position: relative;
}
.shadow {
  -moz-box-shadow:    2px 2px 5px 0px #7d7d7d;
  -webkit-box-shadow: 2px 2px 5px 0px #7d7d7d;
  box-shadow:         2px 2px 5px 0px #7d7d7d;
}
.description {
	padding: 10px;
}
h3, h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 14px;
}
a {
	color: black;
}
a:hover {
	color: #595959;
}
.description-footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}
.filters {
	padding-bottom: 30px;
}
.select-filter {
	display: inline-block;
	width: 150px;
}
.add-button {
	/*width: 50px;*/
	padding: 0 6px;
	position:absolute;
	top: 0;
	right: 0;
	color:white;
	text-align: center;
	background-color: rgba(0,255,0,0.6);
	transition: 0.5s;
}

.remove-button {
	/*width: 50px;*/
	padding: 0 6px;
	position:absolute;
	top: 30px;
	right: 0;
	color:white;
	text-align: center;
	background-color: rgba(255,0,0,0.6);
	transition: 0.5s;
}
.remove-button:hover {
	color:white;
	background-color: rgba(255,0,0,0.9);
}

.feature-button {
	/*width: 50px;*/
	padding: 0 6px;
	position:absolute;
	top: 60px;
	right: 0;
	color:white;
	text-align: center;
	background-color: rgba(215, 121, 44, 0.6);
	transition: 0.5s;
}
.feature-button:hover {
	background-color: rgba(215, 121, 44, 0.9);
	color:white;
}

.post-button {
	/*width: 50px;*/
	padding: 0 6px;
	position:absolute;
	top: 90px;
	right: 0;
	color:white;
	text-align: center;
	background-color: rgba(22, 101, 251, 0.6);
	transition: 0.5s;
}
.post-button:hover {
	background-color: rgba(22, 101, 251, 0.9);
	color:white;
}

.add-button:hover {
	background-color: rgba(0,255,0,0.9);
	color: white;
}
.button {
	font-size: 18px;
	padding: 8px 13px;
	color: white;
	display: inline-block;
}
.approve {
	background-color: rgba(255,0,0,0.6);
}
.save {
	background-color: rgba(0,255,0,0.6);
}
.feature {
	background-color: rgba(0,0,255,0.6);
}
.glow {
	background-color: rgba(255,0,0,0.3);
}
.post-picture {
	width: 100%;
}