/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require foundation_and_overrides
 *= require foundation
 *= require_self
 */

.main {
	background-color: #dbdad5;
	font-family: 'Open Sans', sans-serif;
}
.post {
	background-color: white;
}
.shadow {
  -moz-box-shadow:    2px 2px 5px 0px #7d7d7d;
  -webkit-box-shadow: 2px 2px 5px 0px #7d7d7d;
  box-shadow:         2px 2px 5px 0px #7d7d7d;
}
.description {
	padding: 10px;
}
.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
}
.title:hover {
	color: #595959;
}
.description-footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}
.filters {
	padding-bottom: 30px;
}
.select-filter {
	display: inline-block;
	width: 150px;
}